<header>
  <div id="top-title">
    FREE US SHIPPING & RETURN
  </div>
  <div class="flex relative">
    <div>
      <nav id='left-menu'>
        <a>MEN</a>
        <a>WOMEN</a>
      </nav>
      <i id='menu' class="material-icons">
        menu
      </i>
    </div>
    <img id='logo' src='../../../assets/images/logo.png' />
    <nav>
      <a id='about'>ABOUT</a>
      <a>
        <i class="material-icons icon">
          person_outline
        </i>
      </a>
      <a>
        <i class="material-icons icon">
          add_shopping_cart
        </i>
        <span id='cart-count'>0</span>
      </a>
    </nav>
  </div>
</header>
